<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PC79XDDC');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{/* Add any global CSS or JS links here */}}
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PC79XDDC"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        {{/* Basic header, maybe site title */}}
        <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        {{/* You can add navigation here */}}
    </header>

    <main>
        {{/* Content from index.html, single.html etc. will be rendered here */}}
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        {{/* Basic footer */}}
        <p>&copy; {{ now.Year }} {{ .Site.Title }}</p>
    </footer>
</body>
</html> 